.card {
    border: 1px solid black;
    padding: 5px;
    display: flex;
}

.date {
    border: 1px solid black;


    display: flex;

}

.flexbox-horizontal {
    display: flex;
    flex-direction: column;
}

.coffee-image {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
}